
#waterfall {
    width: 948px;
    min-height: 200px;
    margin: 0 auto;
    position: relative;
    overflow-y: visible;
    display: block;

}

#waterfall .box {
    border-radius: 4px;
    position: absolute;
    width: 228px;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    transition: opacity .4s ease-in-out;
}

.bot {
    position: absolute;
    bottom: 10px;
    height: 30px;
    left: 50%;
    border: 1px solid #888;
    padding: 10px;
    background-color: #fff;
}

a {
    width: 100%;
    min-height: 50px;
    display: block;
    overflow: hidden;
    color: #aaa;
}

p {
    color: #666666;
    display: block;
    padding: 0 16px;
    margin: 10px 0;
    line-height: 1.35em;
    overflow: hidden;
    word-wrap: break-word;
}

#waterfall .box img {
    border-radius: 4px 4px 0px 0px;
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: transform .3s ease
}

#waterfall .box img:hover {
    transform: scale(1.3)
}



.loader {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -100px;
    padding: 10px 0px 10px 0px;
}

.loaderimg {
    height: 100px;
}
#gototop {
    /* opacity: 0.6;*/
    position: fixed;
    left: 50%;
    top:50%;
    width: 100px;
    cursor: pointer;
    display:none;

}
#gototop img{
    width: 100px;
}