
#waterfall {
    width: 948px;
    min-height: 200px;
    background-color: #fff;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    position: relative;
    overflow-y: visible;
    display: block;
}

.box {
    box-sizing: border-box;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    margin: 0;
    overflow: hidden;
    width: 228px;
    height: 228px;
    background-image: url("https://s17.postimg.cc/ypm5ye95r/image.jpg");
    background-size: 250px auto;
}

.box-header-container {
    position: relative;
    border-radius: 4px;
    height: 228px;
}

.box-header-image {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    height: auto;
    backface-visibility: hidden;
}


.box-header {
    color: #fff;
    padding: 15px;
    height: 200px;
}


.box-main-heading {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 12px;
    cursor: pointer;
}

.box-overlay-header {
    background-color: #FFF;
    height: 80px;
    margin: -50px 0 0 -5%;
    transform: rotate(-8deg);
    width: 110%;
    z-index: 0;
}

.box-body {
    background-color: #eee;
    color: #555;
    margin-top: -30px;
    padding: 0 15px 0;
    position: relative;
}

.box-body-stats {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    float: left;
    margin: -50px 0 0 30px;
    position: relative;
    text-transform: uppercase;
    width: 20%;
}

.box-body-stats > span {
    display: inline-block;
    font-weight: 900;
    margin-top: 8px;
}

.box-body-image {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
    float: left;
    margin: -90px 0 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
