
.album{
    z-index: 2;
    display: none;
    margin:auto;
         left:0;
         right:0;
         top:0;
         bottom:0;
    position: fixed;
    height: 800px;
    width: 700px;
}
.albumdetail {
    top: 50px;
    animation: loadProfile 0.6s ease-in-out;
    animation-fill-mode: both;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 750px;
    max-width: 700px;
}

.profile-bg {
   margin-bottom: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background: white;
    box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
    width: 650px;
    top: 80px;
    height: 600px;
    z-index: -1;
}

.album-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    max-height: 720px;

}
.album-detail{
    top:270px;
    left: 80px;
    max-width: 190px;
    max-height: 540px;
    position: absolute;
}

.profile-image {
    animation: loadProfileImage 1s ease-in-out 0.5s;
    animation-fill-mode: both;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.35);

    width: 250px;
    max-height: 250px;
    flex: none;
    background-size: cover;
    background-position: center;
}

.profile-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    opacity: 0.8;
    mix-blend-mode: screen;
}

.profile-info {
    margin-top: 50px;
    padding: 8% 8% 2% 8%;
    position: relative;
}

.profile-info h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0.7rem;
    position: absolute;
    animation-fill-mode: both;
}

h1.album-title {
    text-overflow: ellipsis;
width: 400px;
    overflow: hidden;

    white-space: nowrap;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleEffect 1s cubic-bezier(0,0.2,0.4,1);
    top: -65px;
    left: 0px;
    font-size: 20px;
}

h1.album-artist {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleEffect 1s cubic-bezier(0,0,0.3,1);
    font-size: 20px;
    top: -30px;
    left: 10px;
}

.profile-info h2 {
    font-size: 1rem;

    margin-top: 0;
}

.social-media-icons a,
.profile-info h2 {
    color: #f63d47;
}

.profile-info p {
    line-height: 1.5rem;

}
.album-intro{
    max-height: 150px;
    overflow-y: auto;
}
.album-tracks{
    max-height: 200px;
    overflow-y: auto;
}


.album-statistics {
position:  absolute;
top: 570px;
left: 200px;
    margin-left: 75px;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.album-statistics p {
    margin: 3%;
    flex: auto;
    color: #f63d47;
}

.album-statistics p strong {
    font-size: 1.4rem;
    color: #000;
    font-weight: 200;
    margin-right: 0.3rem;
}

.album-icon {
    background: transparent no-repeat center;
    background-size: contain;
    background-origin: content-box;
    width: 60px;
    height: 60px;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.album-icon:hover {
    transform: scale(0.9);
}

.arrow {
    flex: 0 1 75px;
    background-image: url("https://zephyo.github.io/22Days/code/3/graphics/arrow.svg");
}

.right {
    transform: rotate(180deg);
}

.right:hover {
    transform: scale(0.9) rotate(180deg);
}

.close {
    cursor: pointer;

    background-image: url("https://zephyo.github.io/22Days/code/3/graphics/close.svg");
    position: absolute;
    top: 5px;
    right: -13px;
}

@media only screen and (max-aspect-ratio: 4/7) and (max-width: 600px) {
    .profile {
        margin: 3%;
        height: 97%;
    }
    .container {
        height: 86%;
        flex-direction: column;
    }
    .profile-image {
        height: 40%;
        width: calc(100% - 90px);
    }
    .profile-bg {
        width: 100%;
    }
    h1.title {
        left: 10px;
    }
    h1.artist {
        left: 60px;
    }
}

@media screen and (min-aspect-ratio: 4/7) {
    .profile {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes loadProfile {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes loadProfileImage {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes titleEffect {
    from {
        opacity:0;
        transform: translateX(-75px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
