
#commentbox {
    display: none;
    left: 50px;
    top: 50px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 500px;
    background: transparent;
    border-radius: 6px;
    overflow: hidden;
    height: 480px;
    position: absolute;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
}

#commentlist {
    background: #2e4e84;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment {
    width: 500px;
    min-height: 70px;
    border-bottom: 1px solid #101f33;
    position: relative;
    color: #9cacc9;
}

.comment:hover {
    background: #16243d;
    cursor: pointer;
}

.comment img {
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    position: absolute;
}


.userinfo {
    position: relative;
    left: 70px;
    display: block;
    padding: 10px 0 0 0;
    width: 400px;

}
.content {
    position: relative;

    left: 70px;
    display: block;
    padding: 10px 0 0 0;
    width: 400px;

}
.content a{
    color: #FFF;
}
.createTime {
    position: relative;
    text-align: right;
    display: block;
    padding: 10px 50px 10px 0px;
}

.comment .userinfo strong {
    font-weight: 600;
    font-size: 15px;
    color: #FFF;

}

.comment p span {
    font-size: 13px;
    font-weight: 400;
    color: #FFF;
}

#commitcomment {
    background: #e3e9ed url("../../src/img/comment.gif") 0px 0 no-repeat;
    border-radius:  0 0 6px 6px;
    background-size: 30px;
    height: 60px;
    width: 500px;
    position: absolute;
    top: 400px;
    background-position: 10px 12px;
    left: 0;
}

#commentfield {
    position: absolute;

    background: #e3e9ed;
    margin: 15px 0 0 0px;
    border: none;
    padding: 0;
    font-size: 20px;
    width: 320px;
    font-family: "Open Sans", sans-serif;
    font-weight: 320px;
    color: #8198ac;
}
#to-username{
    cursor: pointer;
    text-overflow :  ellipsis;
    width:100px;
    background: #e3e9ed;
    margin: 15px 0 0 55px;
    border: none;
    padding: 0;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    color: #8198ac;
}

#commentfield:focus {
    outline: 0;
}
.triangle{
    top: 460px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #e3e9ed transparent transparent transparent;
    position: absolute;

}
