/* =================
   Container Styling */
.notification-container {
    display: none;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
    top: 30px;
    right: 110px;
    z-index: 2;
    width: 350px;
    height: 400px;
    position: fixed;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* ===========
   Tab Styling */
.tab-group {
    height: 300px;
    position: relative;
    border: 1px solid #eee;
    margin-top: 2.5em;
    border-radius: 0 0 10px 10px;
}

.tab-group section {
    opacity: 0;
    height: 0;
    max-height: 300px;
    padding: 0 1em;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.4s ease, height 0.4s ease;
}

.tab-group section.active {
    overflow-y: auto;
    opacity: 1;
    height: auto;

}

.tab-nav {
    list-style: none;
    margin: -2.5em -1px 0 0;
    padding: 0;
    height: 2.5em;
    overflow: hidden;
}

.tab-nav li {
    display: inline;
}

.tab-nav li a {
    top: 1px;
    position: relative;
    display: block;
    float: left;
    border-radius: 10px 10px 0 0;
    background: #eee;
    line-height: 2em;
    padding: 0 50px;
    text-decoration: none;
    color: grey;
    margin-top: .5em;
    margin-right: 1px;
    transition: background .2s ease, line-height .2s ease, margin .2s ease;
}

.tab-nav li.active a {
    background: #6EB590;
    color: white;
    line-height: 2.5em;
    margin-top: 0;
}

.notification-item {
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
}

.notification-item h3 {
    margin-top: 5px;
}

.triangle3 {
    top: 10px;
    left: 340px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    border-color: transparent transparent transparent #FFF;
}
