
body {
    margin: 0;
    background: #DEDEDE;
    color: #5a6674;
    font-size: 13px;
    font-family: 'Arial';
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -25% 50%;
    background-attachment: fixed;
    background-image: url(../img/bg.svg);
}

.mask {
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background: rgba(0, 0, 0, 0.3);
}

